@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.game {
    position: relative;
    max-width: 750px;
    min-height: 700px;
    max-height: 700px;
    margin: 40px auto;
    background: linear-gradient(rgba(88, 86, 193, 0.85) 25%, rgba(0,0,0,0.45) 80%), url(../images/curtain.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Lato';
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.game * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.game.popup-visible:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
    border-radius: 10px;
}
.game h2 {
    margin: 0 0 20px;
    font-weight: 900;
    font-size: 50px;
    line-height: 1;
    color: inherit;
}
.game h3 {
    margin: 0 0 15px;
    font-weight: bold;
    font-size: 35px;
    line-height: 1;
    color: #fff;
}
.game p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 1.375;
    color: inherit;
}
.game .game-layer {
    display: none;
    padding: 30px 50px;
}
.game .game-layer-intro {
    display: block;
    padding-top: 114px;
    padding-bottom: 236px;
    text-align: center;
}

.game .game-layer-intro > div {
    font-size: 16px;
    color: rgba(255, 255, 204, 1);
    opacity: 0.9;
    margin-bottom: 15px;
    padding-left: 140px;
    padding-right: 140px;
}
.game.is-start .game-layer-intro {
    display: none;
}
.game .game-layer-intro p {
    margin-bottom: 88px;
    font-size: 18px;
    background-color: rgba(0,0,0,0.12);
    border-radius: 8px;
    padding: 10px;
}
.game.is-start .game-layer-cards {
    display: block;
}
.game.is-complete .game-layer-cards {
    display: none;
}
.game .game-layer-result {
    display: none;
    padding-top: 52px;
    padding-bottom: 185px;
    text-align: center;
}
.game.is-complete .game-layer-result {
    display: block;
}
.game .game-btn {
    position: relative;
    display: inline-block;
    padding: 24px 62px;
    background: #FE7A6B;
    border: none;
    border-radius: 5px;
    color: #fff;
    font: bold 26px/1 'Lato';
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .3s;
    transition: .3s;
}
.game .game-btn:hover {
    color: #fff;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.game .game-btn-alt,
.game .game-btn-alt:hover {
    padding: 0;
    background: none;
    color: #FE7A6B;
}
.game .game-btn-reload:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 17px;
    margin: 0 16px 0 0;
    background: url(../images/icon-reload.png) no-repeat 50% 50%;
}
.game .game-layer-header {
    text-align: center;
    margin: 0 0 20px;
    font-size: 16px;
}
.game .game-data-steps {
    color: #FE7A6B;
}
.game .game-cards {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}
.game .game-cards-item {
    width: 90px;
    margin: 0 0 15px;
}
.game .game-card {
    position: relative;
    width: 100%;
    height: 120px;
    -webkit-perspective: 800px;
    perspective: 800px;
    cursor: pointer;
    animation: cards-move-in .65s ease-in-out;
}
.game .game-card.done {
    visibility: hidden;
}
.game .game-card-side {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FE7A6B;
    background-repeat: no-repeat;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .6s;
    transition: .6s;
}
.game .game-card-cover {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(../images/oscars3.svg);
}
.game .active .game-card-cover,
.game .done .game-card-cover {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.game .game-card-photo {
    background-position: 0 50%;
    background-size: cover;
    border: 1px solid rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 0 2px #fff;
            box-shadow: inset 0 0 0 2px #fff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.game .active .game-card-photo,
.game .done .game-card-photo {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}
.game .game-cards-desc {
    position: absolute;
    left: 50%;
    top: 66px;
    width: 406px;
    min-height: 540px;
    max-height: 620px;
    padding: 10px 25px 80px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}
.game .game-cards-desc .game-cards-desc-photo {
    height: 380px;
    margin: 0 -15px 5px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}
.game .game-cards-desc .game-cards-desc-photo-author {
    margin: 0 -15px 2px;
    text-align: right;
    font-style: italic;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.35);
}
.game .game-cards-desc h3 {
    color: inherit;
    text-align: center;
    margin-top: 15px;
}
.game .game-cards-desc p {
    font-size: 14px;
    text-align: justify;
}
.game .game-cards-desc .game-cards-desc-btn {
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 15px;
}
.game .game-cards-desc .game-cards-desc-btn .game-btn {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}
.game .game-result {
    margin: 0 0 62px;
    padding: 20px 35px;
    background: #fff;
    border-top: 25px solid #FE7A6B;
    color: #000;
    text-align: left;
}
.game .game-result h3 {
    color: inherit;
    margin-bottom: 30px;
}
.game .game-result h3 b {
    color: #FE7A6B;
}
.game .game-result ul {

}
.game .game-result ul li {
    list-style-type: square;
    color: rgba(0,0,0,0.7);
    margin: 7px;
}
.game .game-result ul li a {
    color: #FE7A6B;
    text-decoration: none;
    transition: all .1s linear;
}
.game .game-result ul li a:hover {
    color: rgba(254, 122, 107, 0.8);
}
.game .game-result .game-result-btn {
    position: relative;
    display: inline-block;
}
.game .game-result .game-result-btn:after {
    content: '';
    position: absolute;
    right: -176px;
    top: -5px;
    width: 148px;
    height: 57px;
    background: url(../images/arrow.png);
}
.game .share {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    text-align: center;
}
.game.is-start .share {
    display: none;
}
.game.is-complete .share {
    display: block;
}
.game .share p {
    font-size: 18px;
}
.game .ya-share2__container .ya-share2__list_direction_horizontal > .ya-share2__item {
    margin: 0 5px;
    display: inline-block;
}
.game .ya-share2__container .ya-share2__link {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}
.game .ya-share2__container .ya-share2__link:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.game .ya-share2 .ya-share2__container .ya-share2__badge {
    background: none;
}
.game .ya-share2__container .ya-share2__item .ya-share2__icon {
    width: 45px;
    height: 45px;
    background-position: 0 0;
    background-size: auto;
}
.game .ya-share2__container .ya-share2__item_service_facebook .ya-share2__icon {
    background-image: url(../images/facebook.svg);
    background-repeat: no-repeat;
}
.game .ya-share2__container .ya-share2__item_service_vkontakte .ya-share2__icon {
    background-image: url(../images/vk.svg);
    background-repeat: no-repeat;
}
.game .ya-share2__container .ya-share2__item_service_twitter .ya-share2__icon {
    background-image: url(../images/twitter.svg);
    background-repeat: no-repeat;
}
.game .ya-share2__container .ya-share2__item_service_odnoklassniki .ya-share2__icon {
    background-image: url(../images/ok.svg);
    background-position: center;
    background-size: 22px;
    background-repeat: no-repeat;
    background-color: #EE8208;
    border-radius: 50%;
}

@keyframes cards-move-in {
    from {transform: translateY(35px) scale(0.9) rotate(-160deg); opacity: 0;}
    50% {opacity: 0.55; transform:  scale(0.75);}
    to {transform: translateY(0) scale(1);}
}

@media (max-width: 355px) {
    .game {
        min-height: 570px;
        max-height: 570px;
    }
    .game .game-cards-desc {
        width: auto;
        left: 15px;
        right: 15px;
        top: 15px;
        min-height: 520px;
        max-height: 535px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-transform: none;
                transform: none;
    }
    .game .game-cards-desc .game-cards-desc-photo  {
        height: 300px;
    }
}
@media (min-width: 355px) and (max-width: 390px) {
    .game .game-cards-desc {
        width: auto;
        left: 15px;
        right: 15px;
        top: 5px;
        min-height: 520px;
        max-height: 535px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-transform: none;
                transform: none;
    }
    .game .game-cards-desc .game-cards-desc-photo  {
        height: 330px;
    }
}
@media (min-width: 390px) and (max-width: 1279px) {
    .game .game-cards-desc {
        position: absolute;
        left: 50%;
        top: 10px;
        width: 350px;
        min-height: 535px;
        max-height: 535px;
        padding: 10px 10px 80px;
        background: #fff;
        border-radius: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #000;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
    }
    .game .game-cards-desc .game-cards-desc-photo {
        height: 340px;
        margin: 0 -15px 5px;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        border-radius: 5px 5px 0 0;
    }
}
@media (max-width: 1279px) {
    .game {
        margin-left: -5px;
        margin-right: -5px;
        min-height: 570px;
        max-height: 570px;
    }
    .game .game-layer-intro {
        padding-top: 45px;
    }
    .game .game-layer-intro p {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 40px;
        font-size: 16px;
    }
    .game .game-layer-intro > div {
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
    }
    .game h2 {
        margin-bottom: 10px;
        font-size: 34px;
    }
    .game h3 {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .game p {
        font-size: 14px;
    }
    .game .game-layer {
        padding-left: 5px;
        padding-right: 5px;
    }
    .game .game-btn {
        padding: 20px 46px;
        font-size: 20px;
    }
    .game .game-result {
        margin: 0 0 62px;
        margin-top: -47px;
        padding: 15px;
        padding-left: 10px;
        padding-right: 10px;
        background: #fff;
        border-top: 25px solid #FE7A6B;
        color: #000;
        text-align: left;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .game .game-result p {
        font-size: 13px;
    }
    .game .game-result h3 {
        color: inherit;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .game .game-result h3 b {
        color: #FE7A6B;
    }
    .game .game-result ul {
        padding-left: 2px;
        margin-bottom: 2px;
    }
    .game .game-result ul li {
        margin: 5px;
        font-size: 14px;
    }
    .game .game-btn-reload {
        padding: 10px;
        font-size: 15px;
    }
    .game .game-cards {
        width: 280px;
    }
    .game .game-cards-item {
        width: 65px;
    }
    .game .game-card {
        height: 100px;
    }
    .game .game-cards-desc .game-cards-desc-photo  {
        margin: 0 0 5px;
    }
    .game .game-cards-desc p {
        font-size: 12.5px;
    }
    .game .game-cards-desc .game-cards-desc-photo-author  {
        margin: 0 0 2px;
    }
    .game .game-cards-desc .game-cards-desc-btn {
        left: 15px;
        right: 15px;
    }
    .game .game-cards-desc {
        min-height: 535px;
        max-height: 535px;
    }
    .game .game-result .game-btn-result:after {
        display: none;
    }
    .game .share {
        bottom: 15px;
    }
    .game .share > p {
        margin-bottom: 10px;
    }
    .game .ya-share2 {
        position: relative;
        margin: 0;
        padding: 0;
        background: none;
    }
}
@media (max-width: 640px) {
.ya-share2__container .ya-share2__item_service_vkontakte .ya-share2__icon:hover {
    background-position: 0 -45px !important;
}
.ya-share2__container .ya-share2__item_service_odnoklassniki .ya-share2__icon:hover {
    background-position: 0 -45px !important;
}
.ya-share2__container .ya-share2__item_service_twitter .ya-share2__icon:hover {
    background-position: 0 -45px !important;
}
.ya-share2__container .ya-share2__item_service_facebook .ya-share2__icon:hover {
    background-position: 0 -45px !important;
}
}
